@import "tailwindcss";

@theme {
  --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}