name: Run RSpec
on: [push, pull_request]

jobs:
  rspec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create dummy .env file
        run: touch .env

      - name: Build and run tests
        run: |
          sed '/volumes:/,$d' docker-compose.yml > docker-compose.ci.yml
          
          docker compose -f docker-compose.yml up -d --build --force-recreate

          echo "Waiting for containers to be ready..."
          sleep 30

          docker compose ps
          
          docker compose exec -T web bundle exec rails db:prepare
          docker compose exec -T web bundle exec rspec