name: Run RSpec
on: [push, pull_request]

jobs:
  rspec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create dummy .env file
        run: touch .env

      - name: Build and run tests
        run: |
          cat <<EOF > docker-compose.ci.yml
          services:
            db:
              volumes: []
            web:
              volumes:
                - .:/myapp
            cron:
              volumes:
                - .:/myapp
          EOF

          docker compose -f compose.yml -f docker-compose.ci.yml up -d --build

          echo "Waiting for containers to be ready..."
          sleep 40

          docker compose ps
          docker compose logs web | tail -n 20

          docker compose exec -T web bundle exec rails db:prepare
          docker compose exec -T web bundle exec rspec