<div class="fixed bottom-0 left-0 right-0 z-50 bg-white/80 backdrop-blur-lg border-t border-gray-100 md:hidden">
  <div class="flex justify-around items-center h-16">
    <%= link_to root_path, class: "flex flex-col items-center text-gray-400" do %>
      <span class="text-xl">🏠</span>
      <span class="text-[10px]">ホーム</span>
    <% end %>
    <%= link_to new_recipe_path, class: "flex flex-col items-center -mt-8" do %>
      <div class="bg-orange-500 p-4 rounded-full shadow-lg border-4 border-white text-white">
        <span class="text-2xl">➕</span>
      </div>
    <% end %>
    <%= link_to profile_path, class: "flex flex-col items-center text-gray-400" do %>
      <span class="text-xl">👤</span>
      <span class="text-[10px]">マイページ</span>
    <% end %>
  </div>
</div>